<div class="conteiner transition" >
    <div class="banner">
        <h1>Descubrí todos los modelos</h1>
    </div>
    <div class="filter" >
      <h4 class="orden" (click) = "navFilterOpen()">Filtrar por <span><img src="./assets/home/filter/fill-1.png" alt="">
        </span>
        <span class="btn-style uno" [ngClass] = "{'active': filterOpen}">
          <button class="child" (click) = "filterFunction(0)" [ngClass]="menuFilterOptionActive == 0 ? 'active':''" >Todos</button>
          <button class="child" (click) = "filterFunction(1)" [ngClass]="menuFilterOptionActive == 1 ? 'active':''" >Autos</button>
          <button class="child" (click) = "filterFunction(2)" [ngClass]="menuFilterOptionActive == 2 ? 'active':''" >Pickup y Commerciales</button>
          <button class="child" (click) = "filterFunction(3)" [ngClass]="menuFilterOptionActive == 3 ? 'active':''" >SUVs y Croossovers</button>
        </span> 
    </h4>

      <h4 class="orden" (click) = "navOrderOpen()">Ordenar por <span><img src="./assets/home/filter/fill-1.png" alt=""></span>
        <span class="btn-style ordenar" [ngClass] = "{'active': orderOpen}">
          <button (click)="orderFunction(0,0); this.menuOrderOptionActive=0"  [ngClass]="menuOrderOptionActive == 0 ? 'active':''">Nada</button>
          <button (click)="orderFunction(1,1); this.menuOrderOptionActive=1"  [ngClass]="menuOrderOptionActive == 1 ? 'active':''" >De <span>menor a mayor </span>precio</button>
          <button (click)="orderFunction(1,0);this.menuOrderOptionActive=2"  [ngClass]="menuOrderOptionActive == 2 ? 'active':''" >De <span>mayor a menor </span>precio</button>
          <button (click)="orderFunction(2,0);this.menuOrderOptionActive=3"  [ngClass]="menuOrderOptionActive == 3 ? 'active':''" >Más <span>nuevos</span> primero</button>
          <button (click)="orderFunction(2,1);this.menuOrderOptionActive=4"  [ngClass]="menuOrderOptionActive == 4 ? 'active':''" >Más <span>viejos</span> primero</button>
        </span>
      </h4>
    </div>

    <hr>
    <div class="card-container">
      <div class="card" *ngFor="let model of models | filterBy:this.listafiltros[this.indice] | sortBy: this.OrdenAscDesc : this.listaOrden[this.indiceOrden]" (click)=" toItemComponent(model.id) " >
          <h2>{{model.name}}</h2>
          <h3>{{model.year}} | ${{model.price}}</h3>
          <img src="https://challenge.agenciaego.tech{{model.photo}}" alt="">
      </div>
  </div>
</div>